body {
    background-color: white;
}

.div-boton {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 100vh;
}

.white {
    background-color: black;
    color: white;
}