@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rubik&display=swap');

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #1e1e1e, #000000);
  color: #fff;
}

header, footer {
  background-color: #00b5cc;
  color: #000;
  text-align: center;
  padding: 1em;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

header h1 {
  font-size: 2em;
  margin: 0;
  text-shadow: 2px 2px #39ff14;
}

footer {
  background-color: #0e0e0e;
  font-size: 0.9em;
  color: #888;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 30px 10px;
}

.filtros input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: #00ffcc;
  border: 1px solid #00ffcc;
}

.filtros input::placeholder {
  color: #aaa;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #39ff14;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00ffcc;
  color: #000;
}

.personajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.card {
  background: #111;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px #00ffcc;
  width: 220px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #39ff14;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #00ffcc;
}

.card h3 {
  font-size: 1.1em;
  margin: 10px 0 5px;
  color: #39ff14;
}

.card p {
  margin: 4px 0;
  font-size: 0.9em;
  color: #ddd;
}
